/Temp
/Library
/JohnKimRubeBerg_Data
.vs/
vrnd-course8a-starter-project-001
vrnd-course8a-starter-project-001.Editor.csproj
vrnd-course8a-starter-project-001.Plugins.csproj
vrnd-course8a-starter-project-001.csproj
vrnd-course8a-starter-project-001.sln
vrnd-course8a-starter-project-001.userprefs
